@media screen and (max-width: 425px){

}
*{
    margin: 0;
    padding: 0;
}

.search_box {
    position: relative;
    box-sizing: border-box;
    width: 10%;
}

.search_box input[type="text"]{
    width: 100%;
    padding: 4px;
    padding-right: 50px;
    font-size: small;
    box-sizing: border-box;
    background-color: black;
    color: blanchedalmond;
    outline: none;
}
.bi-search{
    position: absolute;
    /*top: 25%;*/
    top: 50%;
    transform: translateY(-50%);
    transform: rotateY(-50%);
    /*left: 260px;*/
    right: 10px;
    color: #fff;
    font-size: 15px;
}

/* main */
.main{
    border-spacing: 10px 10px;
    border-collapse: separate;
    /* margin-left: 100px; */
    /* margin: 20px; */
    /* border-spacing: 30cm; */
}
.cards{
   width: 20%;
   background-color: black;
   color: white;
   border-radius: 15px;
   display: inline-block;
   
}
/* .x .cards{
    margin-left: 20px;
    display: inline-block;
} */
.image img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.title{
    color: white;
    margin-left: 10px;
}
.des{
    margin-left: 10px;
    padding: 4px;
}
.k{
    margin-left: 65%;
}
.kk{
    margin-left: 84%;
}
.btt{
    color: white;
    background-color: red;
    border: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}
.btt:hover{
    background-color: red;
    color: wheat;
}


.section2 {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    align-items: flex-start;
}

.section2 > div {
    width: 50%;
}

.section2_right {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start !important;
    justify-content: space-between;
}

.section2_right > div {
    width: 48%;
}
.card-status {
    min-height: 350px;
    border-inline-end-color: blueviolet;
    border-inline-start-color: blueviolet;
    border-color: black;
}
.flex {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
}

/* top sellers and media query */
.con-ts{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}
.flexb{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
}
.ts{
    margin-right: 800px;
}
.box{
    width: 20%;
    height: 70px;
    background: black;
    margin: 20px;
    box-sizing: border-box;
    color: #ff014fff;
}
@media screen and (max-width:1200px) {
    .box{
     width: 40%;
    } 
 }@media screen and (max-width:600px) {
    .box{
     width: 90%;
    } 
 }



/* live Auction */
.box2{
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    
}
.fflex{
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0;
}
.slide-image{
    height: 400px;
    /* width: 400px; */
}
.slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: black;
}
.propic{
    height: 34px;
    width: 34px;
    border-radius: 50px;
}
.type{
    display: flex;
    flex-direction: column;
}
/* .type .aa{
    margin: 12px 12px;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding-right: 8px;
} */
.price{
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.3;
}

/* explore */
.ffflex{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.box3{
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    margin: 0 20px;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
}
.detail-box3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: black;
}


/* <!-- creater and sell your NFTs --> */
.card-box4{
    margin-top: 20px;
    width: 100%;
    /* position: relative; */
    /* bottom: 10px; */
    padding-left: 10px;
}
.box4 img{
    width: 250%;
    height: 250px;
}
.type4 .bi{
    margin-bottom: 20px;
    margin-left: 10px;
}

/* footer */
footer{
    background-color: black;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3% 1%; 
}
.container .ss{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;

}
.logo{
    margin-top: 30px;
    font-size: 30px;
    color: #ff014fff;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.col{
    min-width: 200px;
    color: #fff;
    padding: 0 2rem;
}
.col h3{
    margin-bottom: 20px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: #ff014fff;
    position: absolute; 
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.col h3:hover::after{
    width: 30px;
}
.col .links a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a:before{
    content: '';
    height: 16px;
    width: 3px; 
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;

}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color: #ff014fff;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .form input{
    background-color: #1a1c20ff;
    border: 0;
    outline: none;
    padding: 14px 14px;
}
.form button{
    padding: 14px 14px;
    border: 0;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ff014fff;
}
.col .social a i{
    color: #ff014fff;
    margin-right: 20px;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter: grayscale(25);
}


